 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
 
 body{
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     font-size: 15px;
     line-height: 1.6;
     color: #fff;
     background-color: #1f2029;
     overflow: hidden;
     height: 100vh;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     perspective: 800px;
 }
 a {
     cursor: pointer;
 }
 a:hover {
     text-decoration: none;
 }
 ::selection {
     color: #c4c3ca;
     background-color: #000;
 }
 ::-moz-selection {
     color: #c4c3ca;
     background-color: #000;
 }
 
 /* #Cursor
 ================================================== */
 
 .cursor,
 .cursor2,
 .cursor3{
     position: fixed;
     border-radius: 50%;	
     transform: translateX(-50%) translateY(-50%);
     pointer-events: none;
     left: -100px;
     top: 50%;
     mix-blend-mode: difference;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
 }
 .cursor{
     background-color: #fff;
     height: 0;
     width: 0;
     z-index: 99999;
 }
 .cursor2,.cursor3{
     height: 36px;
     width: 36px;
     z-index:99998;
     -webkit-transition:all 0.3s ease-out;
     transition:all 0.3s ease-out
 }
 .cursor2.hover,
 .cursor3.hover{
     -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
     transform:scale(2) translateX(-25%) translateY(-25%);
     border:none
 }
 .cursor2{
     border: 2px solid #fff;
 }
 .cursor2.hover{
     background: rgba(255,255,255,1);
     border-color: transparent;
 }
 
 @media screen and (max-width: 1200px){
     .cursor,.cursor2,.cursor3{
         display: none
     }
 }
 /* #Squares animated 
 ================================================== */
 .about-section-square {
    display: inline-block;
    position: absolute;
    top: -3vh;
    left: 105px;
    z-index: -1;
}
.about-section-square.square-orange.square-right-bottom{
    width: 6vw;
    height: 22vh;
    background: #fe8d2e;
}
 .about-section-square.square-right-bottom {
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
 }
 .about-section-square.square-blue {
    background-color: #0045cd;
    height: 12vh;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-section-square.square-blue-about{
    width: 5.5vw;
    height: 12vh;
    margin-top: 2vh;
    margin-left: -8vw;
}
.about-section div .square-blue-about-img{
    width: 4vw;
    display: inline;
    margin-bottom: 1vh;
}
.about-section-square.square-blue img{
    width: 4vw;
}
 .about-section-square.square-orange {
    background-color: #fe8d2e;
 }
 
 /* #Primary style
 ================================================== */
 
 .hero-section {
     position: relative;
     width: 100%;
     display: block;
     overflow: hidden;
     height: 100vh;
     background-image: url('../img/bg.jpg');
     background-size: cover;
     background-position: center;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
     transform-origin: center top;
 }
 .hero-section h1{
     color: #fff;
     font-size: 5vw;
     text-transform: uppercase;
     line-height: 1;
     font-weight: 900;
     z-index: 999;
}
.bg-text-name{
    position: absolute;
    background: #0045cd;
    width: 6.5vw;
    height: 12vh;
    z-index: -1;
    top: 29px;
    left: 28.5vw;
}
.bg-text-name::after {
    content: '';
    position: absolute;
    background: #fe8d2e;
    left: 31.5vw;
    top: -30px;
    padding: 5vh 6vw;
}
 .hero-section .dancing{
     letter-spacing: 1px;
     color: #fff;
     font-size: 26px;
     line-height: 1;
     font-weight: 300;
}
.about-section .email-rafael{
    display: flex;
}
.about-section .email-rafael .logo-linkedIn{
    width: 40px;
    margin-right: 1vw;
}
 @media screen and (max-width: 580px){
     .hero-section .dancing{
         font-size: 18px;
     }
     .bg-text-name{
        display: none;
     }
 }
 .hero-section p{
     font-size: 15px;
     line-height: 20px;
     font-weight: 500;
     color: #fff;
     letter-spacing: 1px;
 }
 .hero-section p span{
     margin-left: 15px;
     margin-right: 15px;
     position: relative;
     display: inline-block;
     cursor: pointer;
     padding-bottom: 35px;
 }
 .hero-section p span:before {
     position: absolute;
     content: '';
     bottom: 10px;
     left: 50%;
     height: 30px;
     width: 30px;
     margin-left: -15px;
     z-index: -1;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 30px 30px;
     background-image: url('http://www.ivang-design.com/svg-load/portfolio/down.svg');
     opacity: 0.2;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
 }
 .hero-section p span:hover:before {
     opacity: 1;
     bottom: 5px;
 }
 
 body.about-on .hero-section {
     transform: scale(0.75);
     -webkit-transition-delay: 0ms;
     transition-delay: 0ms;
 }
 body.contact-on .hero-section {
     transform: scale(0.75);
     -webkit-transition-delay: 0ms;
     transition-delay: 0ms;
 }
 body.travel-on .hero-section {
     transform: rotateX(-10deg);
     -webkit-transition-delay: 0ms;
     transition-delay: 0ms;
 }
 body.wildlife-on .hero-section {
     transform: rotateX(-10deg);
     -webkit-transition-delay: 0ms;
     transition-delay: 0ms;
 }
 body.nature-on .hero-section {
     transform: rotateX(-10deg);
     -webkit-transition-delay: 0ms;
     transition-delay: 0ms;
 }
 .about-text {
     position: relative;
     text-align: right;
     text-transform: uppercase;
     font-size: 17px;
     line-height: 20px;
     font-weight: 700;
     color: #fff;
     letter-spacing: 2px;
     top: 50px;
     right: 50px;
     cursor: pointer;
     z-index: 2;
     transform: translateY(-50%);
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
 }
 .about-text:before {
     position: absolute;
     content: '';
     top: 50%;
     transform: translateY(-50%);
     left: -100px;
     height: 7px;
     width: 100%;
     background: #fff;
     z-index: -1;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
 }
 .about-text:hover {
    color: #000;
 }
 .about-text:hover:before {
     opacity: 1;
     left: -10px;
 }
 
 .about-section {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     display: block;
     overflow: hidden;
     height: 100vh;
     background:url('../img/bg.jpg') no-repeat;
     background-size: cover;
     transform: translateX(-100%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     z-index: 10;
 }
 .about-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 40px;
 }
 body.about-on .about-section {
     transform: translateX(0);
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
 }
 .about-close {
     position: absolute;
     top: 20px;
     right: 20px;
     width: 30px;
     display: block;
     overflow: hidden;
     height: 30px;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 36px 36px;
     background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
     cursor: pointer;
     z-index: 11;
 }
 .about-close:hover {
     transform: rotate(90deg);
 }
 .section-center {
     position: absolute;
     width: 100%;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     z-index: 1;
}
 .about-section img {
     border-radius: 4px;
     max-width: 100%;
     width: 100%;
     display: block;
     margin: 0 auto;
     box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.about-section p{
    border: 1px solid red;
}
@media screen and (max-width: 580px){
    .img-rafael{
        display:none;
    }
    .about-section p{
        font-size: .6rem;
    }
 }
 .about-section p span {
     font-family: 'Dancing Script', cursive;
     letter-spacing: 1px;
     color: #866BAF;
     font-size: 25px;
     font-weight: 400;
 }
 
 .contact-text {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    top: 95%;
    transform: translateY(-100%);
    right: -50px;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
 }
 .contact-text:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    height: 7px;
    width: 100%;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
 }
 .contact-text:hover {
    color: #000;
 }

 .contact-text:hover:before {
    right: -0px;
 }

 .job-section {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     display: block;
     overflow: hidden;
     height: 100vh;
     background-color: rgba(31,32,41,1);
     background: url(/img/bg.jpg);
     background-size: cover;
     transform: translateX(100%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     z-index: 10;
 }
 body.contact-on .job-section {
     transform: translateX(0);
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
 }
 .contact-close {
     position: absolute;
     top: 20px;
     right: 20px;
     width: 30px;
     display: block;
     overflow: hidden;
     height: 30px;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 36px 36px;
     background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
     cursor: pointer;
     z-index: 11;
 }
 .contact-close:hover {
     transform: rotate(90deg);
 }
 .job-section a{
    color: #fff;
    font-size: 1.5vw;
 }
 .job-section a span{
     margin: 0 auto;
     font-size: 2vw;
     font-weight: 900;
     letter-spacing: 1px;
     color: #fff;
   display: inline-block;
}
 .job-section .social a{
     margin-left: 8px;
     margin-right: 8px;
     font-size: 15px;
     font-weight: 600;
     letter-spacing: 1px;
     color: #866BAF;
 }
 .job-section .bg-job-orange{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    padding-right: 5vw;
 }
 .job-section .bg-job-orange div{
    background: #fe8d2e;
    position: absolute;
    width: 5vw;
    top: 52vh;
    height: 20vh;
 }
 @media screen and (max-width: 580px){
     .job-section a{
         font-size: 17px;
     }
     .job-section .social a{
         margin-left: 3px;
         margin-right: 3px;
         font-size: 13px;
         letter-spacing: 0;
     }
     .job-section .bg-job-orange{
        display: none;
     }
 }
 
 .travel-section,
 .wildlife-section,
 .nature-section {
     position: fixed;
     top: 100%;
     left: 0;
     padding: 100px 0;
     width: 100%;
     height: 100vh;
     display: block;
     overflow-x: hidden;
     overflow-y: auto;
     background-color: rgba(31,32,41,1);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     z-index: 10;
 }
 .travel-close,
 .wildlife-close,
 .nature-close {
     position: absolute;
     top: 20px;
     right: 20px;
     width: 30px;
     display: block;
     overflow: hidden;
     height: 30px;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 36px 36px;
     background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
     cursor: pointer;
     z-index: 11;
 }
 .travel-close:hover,
 .wildlife-close:hover,
 .nature-close:hover {
     transform: rotate(90deg);
 }
 body.travel-on .travel-section {
     top: 0;
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
 }
 body.wildlife-on .wildlife-section {
     top: 0;
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
 }
 body.nature-on .nature-section {
     top: 0;
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
 }
 .travel-section img,
 .wildlife-section img,
 .nature-section img {
     margin-top: 30px;
     width: 100%;
     height: auto;
     display: block;
     border-radius: 4px;
     box-shadow: 0 0 20px rgba(0,0,0,0.4);
 }
 .travel-section h3,
 .wildlife-section h3,
 .nature-section h3 {
     font-size: 44px;
     line-height: 1.3;
     font-weight: 700;
     letter-spacing: 1px;
     color: #fff;
 }
 .travel-section p,
 .wildlife-section p,
 .nature-section p {
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 1px;
 }
 .travel-section p span,
 .wildlife-section p span,
 .nature-section p span {
     font-size: 20px;
     line-height: 1.3;
     font-weight: 700;
     color: #866BAF;
 }